.card-wrapper {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  column-gap: 1.8rem;
}

.image-box {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-box img {
  height: 156px;
  box-shadow: 0 0 15px 0 var(--container-color);
}

@media screen and (max-width: 768px) {
  .image-box {
    height: auto;
    padding: 0;
    margin: 0;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
  }
}
